.cursiva{
	font-style: italic;
}
.centrado{
	text-align: center;
}
.margen-fondo{
	margin-bottom:20px;
}
.margen-arriba{
	margin-top: 30px;
}
.medio{
	vertical-align: middle;
}
.espaciado{
	line-height: 25px;
}
.color-apple{
	color: #ccc !important;
}

.portafolio-thumbs div {
	overflow: hidden;
	max-height: 200px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.portafolio-thumbs div img {
	width: 100%;
	height: 100%;
}

.portafolio-thumbs div img:hover {
	transition: 1s;
	filter: blur(6px);
}

.portafolio-footer {
	margin-top: 100px !important;
}
.portafolio-thumbs div a h3 {
	display: none;
}

.portafolio-thumbs div a[child-nth:1]:hover h3 {
	display:block;
}

#primero:hover .primero {
	display: block;
}

.aate-head {
	padding-left: 5vw;
	padding-right: 5vw;
}

.aate-head-img {
	margin-bottom: 50px;
}
.aate-head-img img{
	width: 100%;
}
.aate-head-txt h1 {
	text-align: center;
}
.aate-views {
	padding-right: 2vw;
	padding-left: 2vw;
	max-width: 100%;
}
.aate-views div img {
	width: 100%;
}
.aate-views div {
	max-height: 300px;
	overflow: hidden;
}
.zoom {
	display: none;
	width: 100%;
	min-height: 150vh;
	position: absolute;
	z-index: 100;
	text-align: center;
	top:0px;
}
.zoom button {
	margin-top: 200px;
	margin-bottom: 25px;
	font-weight: bold;
	color: #214e7a;
	border-radius: 5px;
	border: 0px;
	padding: 5px 10px;
}
.zoom img {
	max-width: 75vw;
}
.difuminado {
	filter: blur(5px);
}
/*header, footer, .c-layout-page {
	filter: blur(5px);
}*/